input.form-control {
    height: auto;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

.form-group {
    margin-bottom: 0;
}

button.btn:focus {
    outline: none;
    box-shadow: none;
}