<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TestMapper">
    <resultMap id="test" type="com.model.UserContainer">
        <result column="no" property="no"/>
        <result column="usertest" property="usertest" javaType="com.model.UserTest"
                typeHandler="com.middleware.JsonObjectTypeHandler"/>
    </resultMap>
    <resultMap id="arraytest" type="com.model.ArrayTest">
        <result column="no" property="no"/>
        <result column="usertest" property="userTests" javaType="com.model.UserTest"
                typeHandler="com.middleware.JsonArrayObjectTypeHandler"/>
    </resultMap>
    <insert id="insertTest" useGeneratedKeys="true" parameterType="Test" keyProperty="no">
        insert into test(testcol)
        values (#{testcol});
    </insert>
    <insert id="insertTestByNo" useGeneratedKeys="true" parameterType="Test" keyProperty="no">
        insert into test(no, testcol)
        values (#{no}, #{testcol});
    </insert>
    <select id="selectTest" resultType="Test">
        select *
        from test;
    </select>
    <!--JSON String을 Object로 바꿀 때-->
    <select id="jsonTypeHandleTest" resultType="UserContainer" parameterType="int" resultMap="test">
        select *
        from user
        where no = #{no};
    </select>
    <!--JSON String을 ObjectArray로 바꿀 때-->
    <select id="jsonArrayTypeHandleTest" resultType="ArrayTest" parameterType="int" resultMap="arraytest">
        select *
        from arraytest
        where no = #{no};
    </select>
    <!--Object를 JSON으로 집어넣을때-->
    <insert id="insertJsonTypeHandleTest" useGeneratedKeys="true" keyProperty="no" parameterType="UserContainer">
        insert into user(usertest)
        values (#{usertest, typeHandler=com.middleware.JsonObjectTypeHandler});
    </insert>
    <!--JSONArrayObject를 JSON으로 집어넣을때-->
    <insert id="insertJsonArrayTypeHandleTest" useGeneratedKeys="true" keyProperty="no" parameterType="ArrayTest">
        insert into arraytest(usertest)
        values (#{userTests,typeHandler=com.middleware.JsonArrayObjectTypeHandler});
    </insert>
    <select id="selectUsers" resultType="User">
        select *
        from user;
    </select>
    <insert id="insertUser" parameterType="User" keyProperty="no" useGeneratedKeys="true">
        insert into user(name, reg_datetime, updated_datetime)
        values (#{name}, now(), now());
    </insert>
    <insert id="insertFileBulk" useGeneratedKeys="true" keyProperty="no">
        insert into file_bulk(order_index, file_name, file_type, file_info, mime_type, reg_date, updated_date, end,
                              complete)
        VALUES (#{order_index}, #{file_name}, #{file_type}, #{jsonStr}, #{mime_type}, now(), now(), 0, 0);
    </insert>
    <select id="selectDataCountByFileName" resultType="Integer">
        select count(*)
        from file_bulk
        where file_name = #{name};
    </select>
    <select id="selectFileByNameAndIndex" resultType="SplitFileData">
        select file_name, file_info as jsonStr
        from file_bulk
        where file_name = #{name}
          and order_index >= #{start_index}
          and #{last_index} >= order_index;
    </select>
    <select id="selectFileByNo" resultType="SplitFileData">
        select fb.*, fb.file_info as jsonStr
        from file_bulk as fb
        where no = #{no};
    </select>
    <select id="selectInsertQueue" resultType="SplitFileData">
        select fb.no, fb.end, fb.file_name, fb.order_index, fb.file_type
        from file_bulk as fb
        where end = 1
          and complete = 0
        order by reg_date asc, order_index asc
        LIMIT 1;
    </select>
    <select id="selectFileByName" resultType="SplitFileData">
        select fb.no, fb.end, fb.file_name, fb.order_index, fb.file_type
        from file_bulk as fb
        where end = 1
          and complete = 0
          and file_name = #{file_name}
        order by reg_date asc, order_index asc
    </select>
    <insert id="insertEndFileBulk" parameterType="SplitFileData" keyProperty="no" useGeneratedKeys="true">
        INSERT INTO file_bulk(order_index, file_name, file_type, file_info, mime_type, end, updated_date, reg_date,
                              complete)
        VALUES (#{order_index}, #{file_name}, #{file_type}, #{jsonStr}, #{mime_type}, 1, now(), now(), 0);
    </insert>
    <update id="updateEndFileBulk" parameterType="SplitFileData">
        update file_bulk
        set end=1,
            updated_date=now()
        where file_name = #{file_name}
          and end = 0;
    </update>
    <update id="updateCompleteFileBulk" parameterType="SplitFileData">
        update file_bulk
        set complete    = 1,
            updated_date=now()
        where file_name = #{file_name}
          and end = 1
          and complete = 0;
    </update>
    <select id="selectFileAllByName" parameterType="String" resultType="SplitFileData">
        select fb.*, fb.file_info as jsonStr
        from file_bulk as fb
        where file_name = #{file_name}
    </select>
    <insert id="arrayTestModelInsertTest" parameterType="ArrayTestModel">
        insert into insert_array_test(name, tags)
        VALUES (#{name}, #{tags, typeHandler=com.middleware.StringArrayListTypeHandler});
    </insert>
    <resultMap id="array_test_model" type="com.model.mybatis.ArrayTestModel">
        <result column="no" property="no"/>
        <result column="tags" property="tags" javaType="com.model.mybatis.ArrayTestModel"
                typeHandler="com.middleware.StringArrayListTypeHandler"/>
    </resultMap>
    <select id="arrayTestModelSelectTest" resultType="ArrayTestModel" resultMap="array_test_model">
        select *
        from insert_array_test;
    </select>
</mapper>