.alert {
    position: fixed;
    z-index: 1060;
    bottom: 100px;
    left: 50%;
    padding: 16px 20px;
    font-size: var(--font-20);
    transform: translate(-50%, 0);
    margin-bottom: 0;
    border: none;
    text-align: center;
    background-color: #000000 !important;
    color: white !important;
}

.alert.alert-failed {
    background-color: red;
    color: white;
}

.modal-header {
    border-bottom: 0;
    padding: 18px 24px;
    position: relative;
}

.modal-header .modal-close {
    cursor: pointer;
    position: absolute;
    top: -24px;
    display: flex;
    right: -24px;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    z-index: 10;
}

.modal-title {
    font-size: var(--font-24);
    font-weight: bold;
    line-height: var(--line-32);
}

.modal-content {
    border: none;
}

.modal-content.radius-12 {
    border-radius: 12px;
}

.modal-body {
    padding: 0 20px;
    border: none;
}

.modal-footer > * {
    margin: 0;
}

.modal-footer {
    padding: 0;
    border-top: 0;
}

.modal-footer button.btn.modal-footer-radius {
    border-radius: 0 0 8px 8px !important;
}

.modal-footer button.btn.btn-lg {
    font-size: var(--font-20);
    font-weight: bold;
    line-height: var(--line-28);
}
