<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias alias="Test" type="com.model.Test"/>
        <typeAlias alias="User" type="com.model.User"/>
        <typeAlias alias="UserContainer" type="com.model.UserContainer"/>
        <typeAlias alias="UserTest" type="com.model.UserTest"/>
        <typeAlias alias="ArrayTest" type="com.model.ArrayTest"/>
        <typeAlias alias="SplitFileData" type="com.model.SplitFileData"/>
    </typeAliases>
</configuration>
